In [6]:
pip install scikit-learn

Collecting scikit-learn
  Obtaining dependency information for scikit-learn from https://files.pythonhosted.org/packages/a8/e9/3e4879974a7c4dcaca2a746dde3df08d0ae8f14c74b03591616ce5f0a8b1/scikit_learn-1.4.0-1-cp311-cp311-win_amd64.whl.metadata
  Downloading scikit_learn-1.4.0-1-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.26.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.11.4)
Collecting joblib>=1.2.0 (from scikit-learn)
  Obtaining dependency information for joblib>=1.2.0 from https://files.pythonhosted.org/packages/10/40/d551139c85db202f1f384ba8bcf96aca2f329440a844f924c8a0040b6d02/joblib-1.3.2-py3-none-any.whl.metadata
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Obtaining dependency information for threadpoolctl>=2.0.0 from https://files.pythonhosted.org/packages/81/12/fd4dea011af9d69e1cad05c75f3f7202cdcbeac9b712eea58ca779a72865/threadpoolctl-3.2.0-py3-none-any.whl.metadata
  Downloading threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Downloading scikit_learn-1.4.0-1-cp311-cp311-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.6 MB 1.3 MB/s eta 0:00:09
    --------------------------------------- 0.1/10.6 MB 1.7 MB/s eta 0:00:07
   - -------------------------------------- 0.3/10.6 MB 2.1 MB/s eta 0:00:05
   - -------------------------------------- 0.5/10.6 MB 2.6 MB/s eta 0:00:04
   --- ------------------------------------ 0.9/10.6 MB 3.9 MB/s eta 0:00:03
   ---- ----------------------------------- 1.2/10.6 MB 4.7 MB/s eta 0:00:03
   ---- ----------------------------------- 1.2/10.6 MB 4.7 MB/s eta 0:00:03
   ------- -------------------------------- 2.0/10.6 MB 5.5 MB/s eta 0:00:02
   ----------- ---------------------------- 3.1/10.6 MB 7.5 MB/s eta 0:00:02
   ------------- -------------------------- 3.6/10.6 MB 7.9 MB/s eta 0:00:01
   --------------- ------------------------ 4.1/10.6 MB 8.3 MB/s eta 0:00:01
   ----------------- ---------------------- 4.7/10.6 MB 8.6 MB/s eta 0:00:01
   ------------------- -------------------- 5.3/10.6 MB 8.8 MB/s eta 0:00:01
   --------------------- ------------------ 5.8/10.6 MB 9.0 MB/s eta 0:00:01
   ----------------------- ---------------- 6.4/10.6 MB 9.2 MB/s eta 0:00:01
   -------------------------- ------------- 6.9/10.6 MB 9.4 MB/s eta 0:00:01
   ---------------------------- ----------- 7.5/10.6 MB 9.5 MB/s eta 0:00:01
   ------------------------------ --------- 8.0/10.6 MB 9.7 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 9.8 MB/s eta 0:00:01
   ---------------------------------- ----- 9.1/10.6 MB 9.9 MB/s eta 0:00:01
   ------------------------------------ --- 9.7/10.6 MB 10.0 MB/s eta 0:00:01
   -------------------------------------- - 10.2/10.6 MB 10.1 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 11.3 MB/s eta 0:00:00
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ---------------------------------------- 0.0/302.2 kB ? eta -:--:--
   ---------------------------------------- 302.2/302.2 kB 9.1 MB/s eta 0:00:00
Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.4.0 threadpoolctl-3.2.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf
import statsmodels.api as sm
import statsmodels.tsa.stattools as ts
import warnings
import datetime
import time
import threading
import concurrent.futures
import multiprocessing

In [2]:
from datetime import timedelta
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import coint
#from sklearn.cluster import DBSCAN
#from sklearn.cluster import KMeans
from statsmodels.tsa.vector_ar.vecm import coint_johansen
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from itertools import combinations
from scipy.stats import spearmanr
from sklearn.linear_model import LinearRegression
from multiprocessing import Pool, Process, Queue
#from pmdarima import auto_arima
#from statsmodels.tsa.arima.model import ARIMA
#from googletrans import Translator

In [3]:
def get_sp500_tickers():
    # Ссылка на страницу Wikipedia с перечнем компаний S&P 500
    url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

    # Скачивание таблицы с помощью pandas
    sp500_table = pd.read_html(url, header=0)[0]
    tickers = sp500_table['Symbol'].tolist()

    # Обработка символов, которые могут вызвать проблемы (например, замена '.' на '-')
    tickers = [ticker.replace('.', '-') for ticker in tickers]

    return tickers

# Получение списка тикеров
tickers = get_sp500_tickers()

start_date = "2022-01-02"
end_date = "2024-01-22"
data = yf.download(tickers, start=start_date, end=end_date)['Close']

data.head()

[*********************100%%**********************]  503 of 503 completed

Ticker,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-03,156.479996,18.750000,182.009995,135.419998,172.679993,139.039993,44.549999,407.209991,564.369995,177.149994,...,87.769997,67.940002,63.540001,56.889999,116.889999,136.529999,125.368935,583.900024,64.239998,234.029999
2022-01-04,151.190002,19.020000,179.699997,135.160004,170.800003,135.770004,45.130001,404.299988,554.000000,175.550003,...,87.489998,68.370003,65.930000,57.180000,118.129997,137.259995,126.640778,587.599976,66.070000,225.119995
2022-01-05,148.600006,18.680000,174.919998,135.869995,162.250000,135.160004,44.599998,397.179993,514.429993,172.839996,...,84.250000,69.040001,66.750000,56.259998,116.519997,135.520004,126.223305,558.179993,66.220001,216.559998
2022-01-06,149.119995,18.570000,172.000000,135.229996,159.750000,135.139999,44.860001,378.000000,514.119995,173.389999,...,84.639999,68.500000,68.320000,56.220001,116.360001,136.919998,125.174759,555.159973,68.940002,217.419998
2022-01-07,145.149994,19.280001,172.169998,134.880005,166.050003,135.559998,45.070000,370.750000,510.700012,168.839996,...,84.550003,69.099998,68.879997,56.400002,115.430000,135.350006,124.417473,530.859985,70.089996,211.089996

In [4]:
# Удаляем столбцы, где более 10% данных отсутствуют
threshold = 0.1  # 10% порог
data = data.dropna(thresh=int((1 - threshold) * len(data)), axis=1)

# Заполнение оставшихся пропусков, например, методом ffill (forward fill)
data = data.ffill()

# Удаляем строки, которые все еще содержат NaN (если они есть)
data = data.dropna()

In [5]:
pairs = list(combinations(data.columns, 2))
pairs[:10]

[('A', 'AAL'),
 ('A', 'AAPL'),
 ('A', 'ABBV'),
 ('A', 'ABNB'),
 ('A', 'ABT'),
 ('A', 'ACGL'),
 ('A', 'ACN'),
 ('A', 'ADBE'),
 ('A', 'ADI'),
 ('A', 'ADM')]

In [6]:
def process_pair(pair):
    # Тестируемые тикеры акций
    name_1, name_2 = pair

    ticker1 = data[name_1]
    ticker2 = data[name_2]

    # Объединение данных по дате
    z_test = pd.merge(ticker1, ticker2, left_index=True, right_index=True, how='inner')
    z_test.columns = ['JBHT_Close', 'LOW_Close']

    # Расчет логарифмической разности
    z_test['Spread'] = np.log(z_test['LOW_Close']) - np.log(z_test['JBHT_Close'])

    # Перевод дат в цифровой формат
    z_test['DateNumeric'] = z_test.index.map(pd.Timestamp.toordinal)

    # Создание индексов в качестве признаков
    X = z_test['DateNumeric'].values.reshape(-1, 1)

    # Начальные параметры
    initial_capital = 100000    # Стартовый капитал
    max_cash = initial_capital    # Максимально достигнутая сумма
    cash = initial_capital    # Баланс кошелька
    low_shares = 0    # Акции low
    jbht_shares = 0    # Акции jbht
    trade_count = 0   # Счетчик сделок
    window = 28  # Окно для скользящего среднего и стандартного отклонения
    roll_window = 23  # Окно для линейной регрессии
    red_flag = True # Индикатор стоп-лосса

    for index in range(window, len(z_test)):

        current_date = z_test.index[index]
        jbht_price = z_test.at[current_date, 'JBHT_Close']
        low_price = z_test.at[current_date, 'LOW_Close']
        # Расчет скользящего среднего и стандартного отклонения для спреда
        mean_spread = z_test['Spread'][index-window:index].mean()
        std_spread = z_test['Spread'][index-window:index].std()
        z_score = (z_test.at[current_date, 'Spread'] - mean_spread) / std_spread

        # Расчет отклонения от линии регрессии котировок
        numeric_date = current_date.toordinal()
        # Модель для JBHT
        model_jbht = LinearRegression()
        model_jbht.fit(X[index-roll_window:index], z_test['JBHT_Close'][index-roll_window:index])
        predicted_jbht = model_jbht.predict([[numeric_date]])

        # Модель для LOW
        model_low = LinearRegression()
        model_low.fit(X[index-roll_window:index], z_test['LOW_Close'][index-roll_window:index])
        predicted_low = model_low.predict([[numeric_date]])

        # Расчет отклонения от линии регрессии
        deviation_jbht = jbht_price - predicted_jbht
        deviation_low = low_price - predicted_low

        # Устанавливаем пороги на основе волатильности
        entry = 42 * std_spread
        exit = 1 * std_spread

        # Торговые сигналы и сделки
        # Покупка спреда
        if z_score < -entry:
            # Длинная позиция по дорогой, короткая по дешевой
            if deviation_jbht >= deviation_low:
                if low_shares == 0:
                    low_shares = cash / low_price
                    jbht_shares = -(cash / jbht_price)
                    cash -= low_shares * low_price
                    cash += -jbht_shares * jbht_price
                    trade_count += 1
                elif jbht_shares < 0:
                    delta = (-cash / jbht_price - jbht_shares) * jbht_price
                    low_shares -= delta / low_price
                    jbht_shares = -(cash / jbht_price)
                    trade_count += 1
                elif low_shares < 0:
                    cash += jbht_shares * jbht_price
                    cash += low_shares * low_price
                    low_shares = 0
                    jbht_shares = 0
                    low_shares = cash / low_price
                    jbht_shares = -(cash / jbht_price)
                    trade_count += 1
            # Короткая позиция по LOW, длинная по JBHT
            else: #elif red_flag == False and z_test.at[current_date, 'LOW_Close'] > z_test.at[current_date, 'JBHT_Close']:
                if low_shares == 0:
                    jbht_shares = cash / jbht_price
                    low_shares = -(cash / low_price)
                    cash -= jbht_shares * jbht_price
                    cash += -low_shares * low_price
                    trade_count += 1
                elif low_shares < 0:
                    delta = (-cash / low_price - low_shares) * low_price
                    jbht_shares -= delta / jbht_price
                    low_shares = -(cash / low_price)
                    trade_count += 1
                elif jbht_shares < 0:
                    cash += low_shares * low_price
                    cash += jbht_shares * jbht_price
                    low_shares = 0
                    jbht_shares = 0
                    jbht_shares = cash / jbht_price
                    low_shares = -(cash / low_price)
                    trade_count += 1

        # Покупка спреда
        elif z_score > entry:
            # Короткая позиция по LOW, длинная по JBHT
            if deviation_jbht < deviation_low:
                if low_shares == 0:
                    jbht_shares = cash / jbht_price
                    low_shares = -(cash / low_price)
                    cash -= jbht_shares * jbht_price
                    cash -= low_shares * low_price
                    trade_count += 1
                elif low_shares < 0:
                    delta = (-cash / low_price - low_shares) * low_price
                    jbht_shares -= delta / jbht_price
                    low_shares = -(cash / low_price)
                    trade_count += 1
                elif jbht_shares < 0:
                    cash += low_shares * low_price
                    cash += jbht_shares * jbht_price
                    low_shares = 0
                    jbht_shares = 0
                    jbht_shares = cash / jbht_price
                    low_shares = -(cash / low_price)
                    trade_count += 1
            # Длинная позиция по LOW, короткая по JBHT
            else: #elif red_flag == False and z_test.at[current_date, 'LOW_Close'] > z_test.at[current_date, 'JBHT_Close']:
                if low_shares == 0:
                    low_shares = cash / low_price
                    jbht_shares = -(cash / jbht_price)
                    cash -= low_shares * low_price
                    cash += -jbht_shares * jbht_price
                    trade_count += 1
                elif jbht_shares < 0:
                    delta = (-cash / jbht_price - jbht_shares) * jbht_price
                    low_shares -= delta / low_price
                    jbht_shares = -(cash / jbht_price)
                    trade_count += 1
                elif low_shares < 0:
                    cash += jbht_shares * jbht_price
                    cash += low_shares * low_price
                    low_shares = 0
                    jbht_shares = 0
                    low_shares = cash / low_price
                    jbht_shares = -(cash / jbht_price)
                    trade_count += 1

        # Выход из позиции
        elif -exit < z_score < exit:
            cash += low_shares * low_price
            cash += jbht_shares * jbht_price
            low_shares = 0
            jbht_shares = 0
            trade_count += 1

        # Установка stop-loss
        # Расчет текущей стоимости позиций         
        value_low = low_shares * low_price
        value_jbht = jbht_shares * jbht_price
        total_value = cash + value_low + value_jbht

        if max_cash < cash:
            max_cash = cash
        stop_loss = 0.15 * max_cash

        # Расчет текущей позиции
        current_loss = max_cash - total_value

        # Проверка условий стоп-лосса
        if current_loss > stop_loss:
            # Закрытие всех позиций
            cash += low_shares * low_price
            cash += jbht_shares * jbht_price
            low_shares = 0
            jbht_shares = 0
            trade_count += 1
            max_cash = 0
            #red_flag = not red_flag

        # Установка take-profit
        stop_profit = 0.17 * max_cash

        # Расчет текущего профита
        current_profit = total_value - max_cash

        if current_profit > stop_profit:
            # Закрытие всех позиций
            cash += low_shares * low_price
            cash += jbht_shares * jbht_price
            low_shares = 0
            jbht_shares = 0
            trade_count += 1

        # Если есть шорт позиции, списываем комиссию за день
        if jbht_shares < 0:
            daily_fee = -jbht_shares * jbht_price * 0.13 / 365
            cash -= daily_fee
        elif low_shares < 0:
            daily_fee = -low_shares * low_price * 0.13 / 365
            cash -= daily_fee
                
            final_result = cash
            final_trade_count = trade_count      
    return {'pair': pair, 'final_result': final_result, 'trade_count': trade_count}

In [6]:
test_pair = pairs[:100]

In [13]:
# Тест быстродействия
result_test = []
start_time = time.time()
for pair in test_pair:
    result_test.append(process_pair(pair))
end_time = time.time()
print(end_time - start_time)

32.758411169052124

In [ ]:
# Использование ThreadPoolExecutor для многопоточной обработки
result_test = []
start_time = time.time()
with concurrent.futures.ProcessPoolExecutor(max_workers=4) as executor:
    # Запуск функции process_pair на каждой паре в списке pairs
    futures = [executor.submit(process_pair, pair) for pair in pairs[:10]]

    for future in concurrent.futures.as_completed(futures):
        result_test.append(future.result())
end_time = time.time()
print(end_time - start_time)

In [7]:
def test_function(pair):
    name_1, name_2 = pair
    name_tick1 = str(name_1)
    name_tick2 = str(name_2)
    return (name_tick1, name_tick2)

In [ ]:
result_test = []
start_time = time.time()
# Использование ThreadPoolExecutor для многопоточной обработки
with concurrent.futures.ProcessPoolExecutor(max_workers=4) as executor:
    # Запуск функции process_pair на каждой паре в списке pairs
    results = executor.map(test_function, pairs[:10])

    for i in results:
        result_test.append(i)
end_time = time.time()
print(end_time - start_time)

In [20]:
test_function(test_pair[1])

('A', 'AAPL')

In [8]:
def chunkify(lst, n):
    """ Разделение списка на n подсписков """
    return [lst[i::n] for i in range(n)]

def worker(data, queue):
    print(f"Обработка данных: {data}")  # Логирование
    for item in data:
        result = test_function(item)
        queue.put(result)
    print(f"Обработка завершена для данных: {data}")  # Логирование

if __name__ == '__main__':
    start_time = time.time()

    num_processes = 4  # Количество процессов
    
    # Предположим, что test_pair - это список кортежей
    data_chunks = chunkify(test_pair, num_processes)
    queue = multiprocessing.Queue()

    processes = [multiprocessing.Process(target=worker, args=(chunk, queue)) for chunk in data_chunks]

    for p in processes:
        p.start()

    for p in processes:
        p.join()

    results = []
    while not queue.empty():
        results.append(queue.get())

    end_time = time.time()
    print(end_time - start_time)
    print(results)  # Вывод результатов

0.06100106239318848
[]

In [17]:
def test_function(pair):
    name_1, name_2 = pair
    name_tick1 = str(name_1)
    name_tick2 = str(name_2)
    return (name_tick1, name_tick2)

def chunkify(lst, n):
    """ Разделение списка на n подсписков """
    return [lst[i::n] for i in range(n)]

def worker(data, queue):
    print(f"Запуск worker с данными: {data}")
    for item in data:
        result = test_function(item)
        queue.put(result)
    print(f"Worker завершил работу с данными: {data}")

if __name__ == '__main__':
    start_time = time.time()

    num_processes = 4

    data_chunks = chunkify(test_pair, num_processes)
    queue = multiprocessing.Queue()

    processes = [multiprocessing.Process(target=worker, args=(chunk, queue)) for chunk in data_chunks]

    for p in processes:
        p.start()

    for p in processes:
        p.join()

    results = []
    while not queue.empty():
        results.append(queue.get())

    end_time = time.time()
    print(f"Время выполнения: {end_time - start_time}")
    print(f"Результаты: {results}")

In [ ]:
queue = multiprocessing.Queue()
def worker(data, queue):
    print(f"Запуск worker с данными: {data}")
    for item in data:
        result = 'test_result'  # Заменим на простое тестовое значение
        queue.put(result)
    print(f"Worker завершил работу с данными: {data}")
worker(test_pair, queue)

Запуск worker с данными: [('A', 'AAL'), ('A', 'AAPL'), ('A', 'ABBV'), ('A', 'ABNB'), ('A', 'ABT'), ('A', 'ACGL'), ('A', 'ACN'), ('A', 'ADBE'), ('A', 'ADI'), ('A', 'ADM'), ('A', 'ADP'), ('A', 'ADSK'), ('A', 'AEE'), ('A', 'AEP'), ('A', 'AES'), ('A', 'AFL'), ('A', 'AIG'), ('A', 'AIZ'), ('A', 'AJG'), ('A', 'AKAM'), ('A', 'ALB'), ('A', 'ALGN'), ('A', 'ALL'), ('A', 'ALLE'), ('A', 'AMAT'), ('A', 'AMCR'), ('A', 'AMD'), ('A', 'AME'), ('A', 'AMGN'), ('A', 'AMP'), ('A', 'AMT'), ('A', 'AMZN'), ('A', 'ANET'), ('A', 'ANSS'), ('A', 'AON'), ('A', 'AOS'), ('A', 'APA'), ('A', 'APD'), ('A', 'APH'), ('A', 'APTV'), ('A', 'ARE'), ('A', 'ATO'), ('A', 'AVB'), ('A', 'AVGO'), ('A', 'AVY'), ('A', 'AWK'), ('A', 'AXON'), ('A', 'AXP'), ('A', 'AZO'), ('A', 'BA'), ('A', 'BAC'), ('A', 'BALL'), ('A', 'BAX'), ('A', 'BBWI'), ('A', 'BBY'), ('A', 'BDX'), ('A', 'BEN'), ('A', 'BF-B'), ('A', 'BG'), ('A', 'BIIB'), ('A', 'BIO'), ('A', 'BK'), ('A', 'BKNG'), ('A', 'BKR'), ('A', 'BLDR'), ('A', 'BLK'), ('A', 'BMY'), ('A', 'BR'), ('A', 'BRK-B'), ('A', 'BRO'), ('A', 'BSX'), ('A', 'BWA'), ('A', 'BX'), ('A', 'BXP'), ('A', 'C'), ('A', 'CAG'), ('A', 'CAH'), ('A', 'CARR'), ('A', 'CAT'), ('A', 'CB'), ('A', 'CBOE'), ('A', 'CBRE'), ('A', 'CCI'), ('A', 'CCL'), ('A', 'CDAY'), ('A', 'CDNS'), ('A', 'CDW'), ('A', 'CE'), ('A', 'CEG'), ('A', 'CF'), ('A', 'CFG'), ('A', 'CHD'), ('A', 'CHRW'), ('A', 'CHTR'), ('A', 'CI'), ('A', 'CINF'), ('A', 'CL'), ('A', 'CLX'), ('A', 'CMA'), ('A', 'CMCSA')]
Worker завершил работу с данными: [('A', 'AAL'), ('A', 'AAPL'), ('A', 'ABBV'), ('A', 'ABNB'), ('A', 'ABT'), ('A', 'ACGL'), ('A', 'ACN'), ('A', 'ADBE'), ('A', 'ADI'), ('A', 'ADM'), ('A', 'ADP'), ('A', 'ADSK'), ('A', 'AEE'), ('A', 'AEP'), ('A', 'AES'), ('A', 'AFL'), ('A', 'AIG'), ('A', 'AIZ'), ('A', 'AJG'), ('A', 'AKAM'), ('A', 'ALB'), ('A', 'ALGN'), ('A', 'ALL'), ('A', 'ALLE'), ('A', 'AMAT'), ('A', 'AMCR'), ('A', 'AMD'), ('A', 'AME'), ('A', 'AMGN'), ('A', 'AMP'), ('A', 'AMT'), ('A', 'AMZN'), ('A', 'ANET'), ('A', 'ANSS'), ('A', 'AON'), ('A', 'AOS'), ('A', 'APA'), ('A', 'APD'), ('A', 'APH'), ('A', 'APTV'), ('A', 'ARE'), ('A', 'ATO'), ('A', 'AVB'), ('A', 'AVGO'), ('A', 'AVY'), ('A', 'AWK'), ('A', 'AXON'), ('A', 'AXP'), ('A', 'AZO'), ('A', 'BA'), ('A', 'BAC'), ('A', 'BALL'), ('A', 'BAX'), ('A', 'BBWI'), ('A', 'BBY'), ('A', 'BDX'), ('A', 'BEN'), ('A', 'BF-B'), ('A', 'BG'), ('A', 'BIIB'), ('A', 'BIO'), ('A', 'BK'), ('A', 'BKNG'), ('A', 'BKR'), ('A', 'BLDR'), ('A', 'BLK'), ('A', 'BMY'), ('A', 'BR'), ('A', 'BRK-B'), ('A', 'BRO'), ('A', 'BSX'), ('A', 'BWA'), ('A', 'BX'), ('A', 'BXP'), ('A', 'C'), ('A', 'CAG'), ('A', 'CAH'), ('A', 'CARR'), ('A', 'CAT'), ('A', 'CB'), ('A', 'CBOE'), ('A', 'CBRE'), ('A', 'CCI'), ('A', 'CCL'), ('A', 'CDAY'), ('A', 'CDNS'), ('A', 'CDW'), ('A', 'CE'), ('A', 'CEG'), ('A', 'CF'), ('A', 'CFG'), ('A', 'CHD'), ('A', 'CHRW'), ('A', 'CHTR'), ('A', 'CI'), ('A', 'CINF'), ('A', 'CL'), ('A', 'CLX'), ('A', 'CMA'), ('A', 'CMCSA')]

In [11]:
results = []
while not queue.empty():
    results.append(queue.get())

In [16]:
def print_word(word):
    print('hello,', word)

if __name__ == '__main__':
    p1 = Process(target=print_word, args=('bob',), daemon=True)
    p2 = Process(target=print_word, args=('alice',), daemon=True)
    p1.start()
    p2.start()
    p1.join()
    p2.join()

In [16]:
with Pool() as pool:
        results = [pool.apply_async(process_data, (chunk,)) for chunk in data_chunks]
        output = [r.get() for r in results]

In [126]:
df_2 = pd.DataFrame(list_results_2)
df_2 = df_2.sort_values(by='final_result', ascending=False)
df_2.head()

                pair   final_result  trade_count
43164      (CI, MRO)  584396.118629          131
109025     (MTB, ON)  569490.402345          128
93850     (ITW, WBD)  557556.228860          116
11079   (ALGN, PARA)  538023.244944           91
24859    (BALL, MAA)  527943.277450          174

In [127]:
df_2[:50]

                pair   final_result  trade_count
43164      (CI, MRO)  584396.118629          131
109025     (MTB, ON)  569490.402345          128
93850     (ITW, WBD)  557556.228860          116
11079   (ALGN, PARA)  538023.244944           91
24859    (BALL, MAA)  527943.277450          174
96288       (K, WBD)  524544.540559           99
24902    (BALL, NOW)  520961.184255          136
104067    (MCK, MRO)  505756.709927          122
26027     (BBY, CZR)  463585.846707          101
123343    (TSN, VFC)  459849.418870          109
27586   (BF-B, PAYC)  458058.228828          120
110244   (NEE, PARA)  451009.303620           93
94592    (JBHT, WBD)  443484.057260          102
106992    (MOH, MRO)  437263.371671          108
38846    (CDAY, CDW)  428079.659851          164
24924   (BALL, PARA)  421751.163616          115
122344  (TECH, TROW)  418651.299423          195
78583   (FTNT, REGN)  407729.190012          138
92915     (IRM, MAR)  406404.260904          207
55606    (CZR, PARA)  406026.409394           98
31469     (BMY, MRO)  404584.538441          132
63177   (DXCM, ORLY)  402584.583283          139
77347    (FOX, POOL)  400897.612268          179
73328   (FANG, TMUS)  400001.152441          169
17772     (AOS, WBD)  398539.104321          118
41338     (CFG, CRL)  397710.797281          154
42987      (CI, DVN)  396647.381334          111
105379    (MGM, TGT)  393346.339391          169
113059      (O, TPR)  387752.303402          198
119159    (RHI, WBD)  386293.457514          125
6185     (ADSK, LHX)  386094.557994          154
16187   (ANET, LULU)  385015.493207          115
34951      (C, POOL)  384302.819456          188
113620      (ON, RF)  382514.473907          153
114633    (PAYC, RF)  380525.037649          149
107026    (MOH, OKE)  376720.127281          183
54666    (CVS, ETSY)  375316.086531           91
78599    (FTNT, SJM)  375024.665060          107
73783     (FCX, JCI)  371924.817117          165
62773     (DVN, MCK)  371148.019290          132
24807   (BALL, INTC)  370939.002764          149
113666    (ON, TROW)  370103.449959          165
6231     (ADSK, MTB)  369984.248165          136
24949    (BALL, PSA)  368923.644023          179
111301    (NOW, SWK)  368550.211120          141
117775    (PSA, TDY)  366752.632070          250
75408      (FI, MGM)  365918.053913          202
74002    (FCX, VTRS)  365304.127133          163
70973   (EVRG, PAYC)  365062.557872          102
6229      (ADSK, MS)  360295.846690          186

In [8]:
list_results = []
# Топорный тест всех пар на стратегии
for pair in pairs:
    list_results.append(process_pair(pair))
# Создание DataFrame из списка словарей
df_3 = pd.DataFrame(list_results)
df_3 = df_3.sort_values(by='final_result', ascending=False)
df_3.head()

                pair   final_result  trade_count
105914   (MKTX, PXD)  639754.156523           91
10891    (ALGN, ESS)  634554.861548          114
19333   (APTV, FSLR)  613870.676615           73
62436    (DVA, MPWR)  599487.934569           63
53180     (CTLT, FE)  565409.504990          111

In [10]:
df_3.to_csv('SP500 pairs - 40-1std-28d.csv')

In [11]:
df_3k = df_3[:30000].copy()

In [12]:
df_3k['ADF'] = 0
df_3k['ADF-stat'] = 0.0
df_3k['ADF-p'] = 0.0
df_3k['CADF-score'] = 0.0
df_3k['CADF-p'] = 0.0
df_3k['Spearman'] = 0.0
df_3k['spear-p'] = 0.0

df_3k.head()

,pair,final_result,trade_count,ADF,ADF-stat,ADF-p,CADF-score,CADF-p,Spearman,spear-p
105914,"(MKTX, PXD)",639754.156523,91,0,0.0,0.0,0.0,0.0,0.0,0.0
10891,"(ALGN, ESS)",634554.861548,114,0,0.0,0.0,0.0,0.0,0.0,0.0
19333,"(APTV, FSLR)",613870.676615,73,0,0.0,0.0,0.0,0.0,0.0,0.0
62436,"(DVA, MPWR)",599487.934569,63,0,0.0,0.0,0.0,0.0,0.0,0.0
53180,"(CTLT, FE)",565409.504990,111,0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# Тесты пар
for i, row in df_3k.iterrows():
    tik1, tik2 = row['pair']
    if tik1 in data.columns and tik2 in data.columns:
        stock1 = data[tik1]
        stock2 = data[tik2]

        # Рассчитываем коинтеграцию с помощью CADF теста
        score, p_value, _ = ts.coint(stock1, stock2)
        # ADF тест
        spread = stock1 - stock2
        adf_result = ts.adfuller(spread)
        # Корреляция Спирмена
        corr, spear_p = spearmanr(stock1, stock2)
        # Сохраняем результаты
        df_3k.at[i, 'CADF-p'] = p_value
        df_3k.at[i, 'CADF-score'] = score
        df_3k.at[i, 'ADF-p'] = adf_result[1]
        df_3k.at[i, 'ADF-stat'] = adf_result[0]
        if adf_result[0] < adf_result[4]['1%']:
            df_3k.at[i, 'ADF'] = 1
        df_3k.at[i, 'Spearman'] = corr
        df_3k.at[i, 'spear-p'] = spear_p

df_3k = df_3k.sort_values(by='Spearman')
df_3k[-20:]

,pair,final_result,trade_count,ADF,ADF-stat,ADF-p,CADF-score,CADF-p,Spearman,spear-p
116163,"(PH, TDG)",111575.585432,261,0,-0.505136,0.891010,-4.163526,0.004140,0.957710,3.362741e-273
35771,"(CAH, ORLY)",134475.904640,212,0,-0.938664,0.774973,-2.525993,0.267727,0.958002,6.156534e-274
92646,"(IR, LEN)",158190.187789,171,0,-0.469756,0.897784,-4.203570,0.003603,0.958064,4.283287e-274
99418,"(LEN, PH)",143854.990831,184,0,-0.555552,0.880713,-3.127296,0.082951,0.959518,7.471051e-278
13733,"(AME, ETN)",110149.008274,280,0,0.236694,0.974246,-2.125358,0.463121,0.960330,5.162139e-280
35539,"(CAH, CTAS)",158036.298730,215,0,-0.493943,0.893193,-3.452117,0.036883,0.960413,3.088364e-280
84456,"(HBAN, RF)",136407.162913,291,0,-2.694978,0.074911,-3.201697,0.069645,0.961516,2.992498e-283
6873,"(AEE, WEC)",116386.853713,350,0,-2.810101,0.056845,-2.637612,0.222815,0.963177,5.840341e-288
114967,"(PCAR, TT)",126204.172186,249,0,0.046302,0.962198,-3.768623,0.014918,0.963735,1.374162e-289
50373,"(CPRT, TDG)",161214.563565,223,0,0.280378,0.976426,-2.858305,0.147837,0.964138,8.796398e-291
96745,"(KEY, USB)",125278.625193,230,0,-2.157388,0.222073,-2.172052,0.438819,0.964367,1.809251e-291
92731,"(IR, PCAR)",150626.749978,232,0,-2.877310,0.048051,-4.326012,0.002331,0.964547,5.223174e-292
89149,"(HWM, SNA)",141321.129634,240,0,-1.550324,0.508486,-4.610174,0.000803,0.965290,2.850753e-294
79528,"(GE, TDG)",147656.092383,206,0,0.083608,0.964924,-3.538993,0.029092,0.968751,1.651486e-305
114888,"(PCAR, PH)",162965.964581,257,0,-0.036583,0.955400,-3.053830,0.097958,0.969660,1.134022e-308
24310,"(BAC, FITB)",106355.640244,272,0,-2.144239,0.227102,-3.412553,0.040975,0.971967,3.775864e-317
99392,"(LEN, NVR)",115499.922582,263,0,-0.091848,0.950244,-3.116808,0.084977,0.978394,0.000000e+00
38334,"(CCI, SBAC)",110357.064198,310,0,-1.940363,0.313318,-3.943175,0.008639,0.982101,0.000000e+00
70003,"(ETN, PH)",111418.072394,283,0,-0.728737,0.839165,-3.467604,0.035377,0.983538,0.000000e+00
112373,"(NVR, PHM)",120244.399329,293,0,-0.104081,0.949031,-2.922332,0.129840,0.983867,0.000000e+00

In [22]:
df_3k = df_3k.sort_values(by='CADF-score')
df_3k[:50]

,pair,final_result,trade_count,ADF,ADF-stat,ADF-p,CADF-score,CADF-p,Spearman,spear-p
118381,"(PYPL, UPS)",196338.641338,131,1,-5.221611,7.941489e-06,-6.255725,4.468363e-07,0.773931,1.813209e-101
64207,"(ECL, NOW)",250230.069497,168,0,-0.760227,8.305270e-01,-6.204939,5.791002e-07,0.874112,3.101189e-159
118326,"(PYPL, SBAC)",117431.415760,120,0,-1.591686,4.877688e-01,-5.927188,2.327116e-06,0.833518,3.436970e-131
64192,"(ECL, MSFT)",138304.356460,213,0,-0.947931,7.717788e-01,-5.889202,2.804222e-06,0.875691,1.618952e-160
75253,"(FFIV, UNP)",291918.526612,212,1,-5.891417,2.918418e-07,-5.885032,2.862059e-06,0.898260,5.052072e-181
118352,"(PYPL, TECH)",143782.568882,96,1,-5.888546,2.961735e-07,-5.693346,7.225455e-06,0.700399,2.151600e-75
118420,"(PYPL, ZION)",118764.792557,108,1,-5.858816,3.448990e-07,-5.597966,1.134801e-05,0.831255,7.444558e-130
64169,"(ECL, MCO)",163183.198816,255,0,-1.959484,3.046157e-01,-5.431109,2.460793e-05,0.893887,1.077922e-176
118400,"(PYPL, WEC)",215043.576813,105,1,-5.563713,1.521396e-06,-5.380259,3.102671e-05,0.707282,1.735250e-77
64186,"(ECL, MPWR)",213170.468367,95,0,-2.378488,1.479002e-01,-5.375166,3.175201e-05,0.709987,2.512560e-78
6020,"(ADSK, COST)",314756.157575,160,0,-1.349383,6.062880e-01,-5.362184,3.367536e-05,0.557925,1.710052e-42
122494,"(TER, UHS)",129494.545252,133,0,-2.471390,1.225916e-01,-5.296399,4.527656e-05,0.544910,3.069689e-40
17759,"(AOS, V)",250480.348860,206,0,-2.214014,2.011986e-01,-5.285447,4.754817e-05,0.854803,7.913923e-145
118388,"(PYPL, VMC)",112377.422948,127,0,-2.103158,2.432466e-01,-5.257459,5.386207e-05,-0.552487,1.537614e-41
64178,"(ECL, MLM)",110308.167378,242,0,-0.558240,8.801418e-01,-5.145311,8.821547e-05,0.826722,3.078742e-127
122346,"(TECH, TROW)",259980.166425,153,1,-6.056648,1.240570e-07,-5.085890,1.140984e-04,0.871244,5.976322e-157
27107,"(BEN, MS)",117061.935098,234,1,-3.507765,7.789890e-03,-5.080357,1.168475e-04,0.888708,8.336375e-172
44279,"(CLX, HSY)",146960.490435,207,0,-3.065057,2.924953e-02,-5.075747,1.191862e-04,0.644787,1.879874e-60
118316,"(PYPL, RJF)",135678.256003,143,1,-4.860448,4.161341e-05,-5.072671,1.207718e-04,0.246411,2.152974e-08
6158,"(ADSK, IT)",144383.697433,169,0,-1.188552,6.785007e-01,-5.065742,1.244169e-04,0.464770,2.547690e-28
39078,"(CDAY, MSCI)",297331.160905,153,0,-2.497250,1.161449e-01,-5.056605,1.293844e-04,0.844763,3.863807e-138
72926,"(F, PAYC)",182728.929731,124,0,-1.853771,3.541111e-01,-5.034072,1.424574e-04,0.728309,2.810196e-84
118315,"(PYPL, RHI)",152207.376428,136,1,-5.145770,1.133334e-05,-5.020218,1.511104e-04,0.570493,9.117237e-45
81032,"(GLW, TROW)",248410.234312,205,1,-4.066958,1.097758e-03,-4.967568,1.887903e-04,0.865178,2.722024e-152
97326,"(KIM, NSC)",176733.279046,198,0,-2.641550,8.471014e-02,-4.957802,1.966979e-04,0.941839,2.068445e-239
64261,"(ECL, RCL)",118262.603492,100,0,-1.315597,6.220066e-01,-4.955157,1.988936e-04,0.796759,1.139077e-111
118342,"(PYPL, STZ)",125838.916614,124,0,-3.317908,1.409674e-02,-4.953322,2.004307e-04,-0.184366,3.177951e-05
42513,"(CHRW, WEC)",112359.227731,159,1,-4.973087,2.508225e-05,-4.944479,2.079964e-04,0.791080,5.169999e-109
117414,"(PPG, SYK)",112555.374085,185,0,-1.204954,6.714610e-01,-4.943572,2.087880e-04,0.731628,2.081411e-85
118361,"(PYPL, TPR)",128843.727355,114,1,-4.898651,3.508587e-05,-4.937412,2.142373e-04,0.151708,6.407314e-04
71890,"(EXPD, MA)",224212.489189,231,0,-1.805855,3.775587e-01,-4.928493,2.223677e-04,0.860071,1.526513e-148
118351,"(PYPL, TDY)",171339.957620,145,0,-2.945045,4.035500e-02,-4.917132,2.331502e-04,0.153544,5.491063e-04
90896,"(INCY, MRNA)",156749.543280,97,0,-2.432545,1.327607e-01,-4.914777,2.354468e-04,0.897235,5.435658e-180
64173,"(ECL, META)",187888.306998,153,0,-0.383381,9.128368e-01,-4.912909,2.372837e-04,0.854593,1.106525e-144
118396,"(PYPL, WAT)",106548.378561,133,0,-3.215484,1.910570e-02,-4.905032,2.451796e-04,0.523546,9.553488e-37
121880,"(SYF, WFC)",116528.699721,215,1,-4.506386,1.914807e-04,-4.902651,2.476152e-04,0.919959,6.797211e-206
118331,"(PYPL, SLB)",112387.632809,79,0,-2.301478,1.714916e-01,-4.893616,2.570670e-04,-0.607505,4.607268e-52
6369,"(ADSK, URI)",129118.817360,157,0,-0.782208,8.242926e-01,-4.884549,2.668959e-04,0.492316,4.572436e-32
118330,"(PYPL, SJM)",125741.717113,84,1,-4.208235,6.380682e-04,-4.866057,2.880592e-04,0.125162,4.936259e-03
64486,"(ED, KMB)",124863.225010,239,1,-3.862348,2.330100e-03,-4.857560,2.983090e-04,0.525201,5.228002e-37
122535,"(TER, ZBH)",123361.173173,139,1,-4.438100,2.539874e-04,-4.856197,2.999848e-04,0.514942,2.080799e-35
53934,"(CTSH, FFIV)",130937.215036,213,1,-3.727381,3.744097e-03,-4.838199,3.229694e-04,0.893047,6.956946e-176
54127,"(CTSH, POOL)",410582.497861,158,1,-3.640421,5.033663e-03,-4.833676,3.290032e-04,0.850293,9.198777e-142
77469,"(FOX, ZBRA)",111698.314562,142,0,-3.113544,2.556700e-02,-4.827540,3.373594e-04,0.863908,2.405823e-151
54460,"(CTVA, NOW)",108719.810799,110,0,-0.454552,9.005844e-01,-4.823741,3.426330e-04,-0.748755,1.602242e-91
90463,"(IFF, SBAC)",180359.067687,161,0,-1.961681,3.036231e-01,-4.821338,3.460083e-04,0.930523,1.060383e-220
73023,"(F, UDR)",133890.650296,142,0,-1.499803,5.336087e-01,-4.819142,3.491214e-04,0.755034,6.884437e-94
77776,"(FOXA, ZBRA)",138425.923317,130,0,-3.125333,2.473434e-02,-4.818558,3.499538e-04,0.870314,3.208700e-156
23706,"(AZO, WHR)",108036.490138,160,0,-1.599120,4.840355e-01,-4.817665,3.512288e-04,-0.794599,1.194079e-110
75321,"(FI, GWW)",132817.455257,221,0,-0.310776,9.239642e-01,-4.816994,3.521905e-04,0.925454,2.528251e-213

In [25]:
st = sum(df_3k['final_result']/len(df_3k))
st

NameError: name 'df_3k' is not defined